<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329502998271-mo60f84c6mungk96mrlkg5f1e7lkakcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329502998271-mo60f84c6mungk96mrlkg5f1e7lkakcs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>329502998271-hif6i1dmmed5cih3cld65av5mmv5qg2v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtxcFu1rFict1oYDAp6LPccuPujAeGZmo</string>
	<key>GCM_SENDER_ID</key>
	<string>329502998271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wishsity.fcmclient</string>
	<key>PROJECT_ID</key>
	<string>wishsitymobile</string>
	<key>STORAGE_BUCKET</key>
	<string>wishsitymobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:329502998271:ios:a40516a7eee70760ebd6ca</string>
	<key>IS_GCM_ENABLED</key>
	<true/>
</dict>
</plist>
